<div class="sideleft">
  <form class="ajax-s" action="" method="get">
    <p class="input flex"><input type="text" name="s" placeholder="Enter a keyword" autocomplete="off" class="do full-size"><input type="submit" name="chercher" class="dnone s"> <i class="fa fa-search fa-2x darkgeen trans" onclick="document.querySelector('.s').click()"></i> </p>
  </form>
  <div class="pc">
    <h2 class="titre">Post Category</h2>
    <div class="">
      <ul class="list list1">
        <li><a href="#">Publier </a>
          <ul>

          </ul>
        </li>
        <li><a href="#">Science Physique</a><span class="nb right"> (22)</span> </li>
        <li><a href="#">Mathematique</a><span class="nb right"> (22)</span> </li>
        <li><a href="#">Anglais </a><span class="nb right"> (22)</span> </li>
        <li><a href="#">Actualite</a><span class="nb right"> (22)</span> </li>
        <li><a href="#">Anglais </a><span class="nb right"> (22)</span> </li>
        <li><a href="#">Actualite</a><span class="nb right"> (22)</span> </li>
      </ul>
    </div>
  </div>
</div>
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>
